.attbr {
  display: flex;
  margin-bottom: 20px;
}
.attbr h1 {
  width: 400px;
  font-size: 20px;
  color: darkorchid;
}
.launchview {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}
.launchview .launchdescription {
  font-size: 20px;
  color: darkorchid;
  padding-bottom: 50px;
}
.launchview img {
  height: 300px;
  /*padding-bottom: 25px;*/
  width: 300px !important;
  border: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 9px 1px red;
}
.flickr_images {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.attribute_section {
  margin-bottom: 50px;
}
