.attbr {
  display: flex;
  margin-bottom: 20px;
}
.attbr h1 {
  width: 400px;
  font-size: 24px;
  color: darkorchid;
}
.launchview {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}
.launchview .launchdescription {
  font-size: 20px;
  color: darkorchid;
  padding-bottom: 50px;
}
.launchview img {
  height: 250px;
  border: 1px;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px 9px 1px darkblue;
}
.flickr_images {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-row-gap: 20px;
  margin-bottom: 20px;
}

.attribute_section {
  margin-bottom: 50px;
  justify-content: space-between;
}
